[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart=/usr/bin/kube-controller-manager \
  --kubeconfig=/etc/kubernetes/controller-manager.kubeconfig \
  --address=127.0.0.1 \
  --leader-elect=true \
  --controllers=*,bootstrapsigner,tokencleaner \
  --service-account-private-key-file=/etc/kubernetes/pki/sa.key \
  --insecure-experimental-approve-all-kubelet-csrs-for-group=system:bootstrappers \
  --cluster-cidr=10.96.0.0/16 \
  --cluster-name=default \
  --service-cluster-ip-range=10.96.0.0/12 \
  --cluster-signing-cert-file=/etc/kubernetes/pki/ca.crt \
  --cluster-signing-key-file=/etc/kubernetes/pki/ca.key \
  --root-ca-file=/etc/kubernetes/pki/ca.crt \
  --use-service-account-credentials=true \
  --v=2
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
